<div class="px-5 py-3 d-flex justify-content-between align-items-center">
  <h4>Announcement</h4>
  <a href="">
    <h4>Announcement</h4>
  </a>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "max_blocks": 1,
    "class": "announcement-bar-section",
    "blocks": [
      {
        "type": "announcement",
        "name": "Add Your Announcment",
        "settings": [
          {
            "type": "text",
            "id": "announcement__text",
            "default": "Welcome to our store",
            "label": "You Announcement"
          }, {
            "type": "text",
            "id": "announcement__link__title",
            "label": "Give Your Own Title"
          }, {
            "type": "url",
            "id": "announcement__link",
            "label": "Your Title Redirect Link"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}