.px-5rem{
    padding-left:5rem ;
    padding-right: 5rem;
}
.px-15px{
    font-size: 15px;
}

.px-18px {
    font-size: 18px;
}

.px-20{
    font-size: 20px;
}

px-30{
    font-size: 30px;
}

.search__input.field__input{
    padding: 10px 0px 10px 40px;
    width: 500px;
    border-radius: 10px;
    background-color: #eee;
}

predictive-search.search-modal__form label{
    display: none;
}

button.reset__button.field__button{
    display: none;
}

#voice-src-btn{
    border: none;
    outline: none;
    background-color: #eee;
}

#voice-src-btn img{
    width: 25px;
    height: 25px;
}

/* Mobile Css  */

@media (max-width:768px) {
    .px-5rem{
        padding-left: 10px;
        padding-right: 10px;
    }
}